# Archivo de configuracion del backend del buffer

;Conexion con dbServer MySQL
host = localhost
user = root
password = root
db = TestingDB_QA

;Medio de entrada (Router)
Medio_Entrada_ID = 10

;Buffer DCSD: sale por PCBInspeccionDCSD (medio_id=4)
Buffer_DCSD_Salida_ID = 4
;Capacidad maxima fisica del buffer DCSD (12 columnas * 32 slots)
Buffer_DCSD_Max = 384

;Buffer MAIN: sale por PCBInspeccionMAIN (medio_id=6)
Buffer_MAIN_Salida_ID = 6
;Capacidad maxima fisica del buffer MAIN (16 columnas * 32 slots)
Buffer_MAIN_Max = 512

;Linea donde se encuentra el buffer
#Motrex = 1 LADCM = 2
Linea_ID = 1

;    y SQLite
intervalo_polling = 10
sqlite_path = ./buffer_counts.db
dias_retencion_sqlite = 30

;Sin conteo de placas, mayores a tantos dias se suponen que no tienen que durar tanto
dias_sin_conteo = 3

;Objetivo de Conteo Diario por Buffer
objetivo_diario_dcsd = 380
objetivo_diario_main = 380

